table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

mat-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  box-shadow: none !important;
}

h3 {

}
